/* .HomeColor {
  text-align: center;
} */

/* Cells that can be interacted with */
.table-drag-select td.cell-enabled {
  color: black;
  font-size: 0px;
  cursor: cell;
}

.heart{
  opacity: 0.3;
  text-align:center;
}

/* Cells that cannot be interacted with */
/* .table-drag-select td.cell-disabled {
  /* Put yer css here */
  /* background-color: red;
} */

/* Cells that have been selected */
.table-drag-select td.cell-selected {
  color: white;
  font-size: 30px;
}

/* Cells that are in the process of being selected */
.table-drag-select td.cell-being-selected {
  color: white;
  font-size: 15px;
}

/* Cells in first row */
.table-drag-select tr:first-child td {
  /* Remove empty space at top of table */
  border-top: 0;
}

/* Cells in first column */
.table-drag-select td:first-child {
  /* Consume less whitespace */
  width: 3rem;
}

